{% extends "base.html" %}
{% block content %}

<section class="hero">
    <div class="container">
        <h1 class="display-4 fw-bold">Redefining Modern Hospital Management</h1>
        <p class="lead mt-3">
            Seamlessly manage patients, doctors, appointments and billing in a secure cloud environment.
        </p>
        <a href="/patients" class="btn btn-primary-custom btn-lg mt-4">
            Manage System
        </a>
    </div>
</section>

<div class="container mt-5">

    <h2 class="text-center section-title">Hospital Overview</h2>

    <div class="row text-center">

        <div class="col-md-3 mb-4">
            <div class="card card-custom p-4">
                <h2>150+</h2>
                <p>Doctors</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card card-custom p-4">
                <h2>1200+</h2>
                <p>Patients</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card card-custom p-4">
                <h2>300+</h2>
                <p>Appointments</p>
            </div>
        </div>

        <div class="col-md-3 mb-4">
            <div class="card card-custom p-4">
                <h2>98%</h2>
                <p>Satisfaction Rate</p>
            </div>
        </div>

    </div>
</div>

{% endblock %}